{
  "openapi": "3.0.0",
  "info": {
    "title": "Abstract JSON-RPC API",
    "description": "JSON-RPC API documentation for Abstract blockchain",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mainnet.abs.xyz",
      "description": "Abstract Mainnet"
    }
  ],
  "tags": [
    {
      "name": "Overview",
      "description": "Overview of the Abstract JSON-RPC API"
    },
    {
      "name": "Ethereum API",
      "description": "Standard Ethereum JSON-RPC methods"
    },
    {
      "name": "ZKSync API",
      "description": "ZKSync-specific JSON-RPC methods"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": ["Overview"],
        "summary": "Abstract JSON-RPC API",
        "description": "Single endpoint that accepts all JSON-RPC method calls",
        "operationId": "jsonrpc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_chainId"],
                        "description": "Gets the current chain ID"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Parameters (empty for this method)",
                        "default": []
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_call"],
                        "description": "Executes a new message call immediately without creating a transaction"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Call parameters",
                        "default": [
                          {
                            "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f"
                          },
                          "latest"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_estimateGas"],
                        "description": "Estimates the amount of gas needed to execute a call"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Parameters for gas estimation",
                        "default": [
                          {
                            "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f",
                            "data": "0x"
                          }
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_gasPrice"],
                        "description": "Returns the current gas price in wei"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "No parameters",
                        "default": []
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_newFilter"],
                        "description": "Creates a filter object to notify when the state changes"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Filter options",
                        "default": [
                          {
                            "topics": [
                              "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                            ]
                          }
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_newBlockFilter"],
                        "description": "Creates a filter to notify when a new block arrives"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "No parameters",
                        "default": []
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_uninstallFilter"],
                        "description": "Uninstalls a filter with the given ID"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Filter ID",
                        "default": [
                          "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_newPendingTransactionFilter"],
                        "description": "Creates a filter to notify when new pending transactions arrive"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "No parameters",
                        "default": []
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getLogs"],
                        "description": "Returns logs matching the filter criteria"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Filter options",
                        "default": [
                          {
                            "fromBlock": "0x1",
                            "toBlock": "0x2",
                            "address": "0x8320fe7702b96808f7bbc0d4a888ed1468216cfd",
                            "topics": [
                              "0xd78a0cb8bb633d06981248b816e7bd33c2a35a6089241d099fa519e361cab902"
                            ]
                          }
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getFilterLogs"],
                        "description": "Returns logs for the specified filter"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Filter ID",
                        "default": [
                          "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getFilterChanges"],
                        "description": "Returns filter changes since last poll"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Filter ID",
                        "default": [
                          "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getBalance"],
                        "description": "Returns the balance of the given address"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Address and block parameter",
                        "default": [
                          "0x8fe5810cd78eb8d8b9abad8527dfc1265bee6c56",
                          "latest"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getBlockByNumber"],
                        "description": "Returns information about a block by number"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Block number and transaction details flag",
                        "default": ["0x1b4", false]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getBlockByHash"],
                        "description": "Returns information about a block by hash"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Block hash and transaction details flag",
                        "default": [
                          "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae",
                          false
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getBlockTransactionCountByNumber"],
                        "description": "Returns the number of transactions in a block by block number"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Block number",
                        "default": ["0x1b4"]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getBlockReceipts"],
                        "description": "Returns all transaction receipts for a given block"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Block parameter (number or hash)",
                        "default": ["0x1b4"]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getBlockTransactionCountByHash"],
                        "description": "Returns the number of transactions in a block by block hash"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Block hash",
                        "default": [
                          "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getCode"],
                        "description": "Returns the code stored at the given address"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Address and block parameter",
                        "default": [
                          "0x8fe5810cd78eb8d8b9abad8527dfc1265bee6c56",
                          "latest"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getStorageAt"],
                        "description": "Returns the value from a storage position at a given address"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Address, storage position, and block parameter",
                        "default": [
                          "0x8fe5810cd78eb8d8b9abad8527dfc1265bee6c56",
                          "0x0",
                          "latest"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getTransactionCount"],
                        "description": "Returns the number of transactions sent from an address"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Address and block parameter",
                        "default": [
                          "0x8fe5810cd78eb8d8b9abad8527dfc1265bee6c56",
                          "latest"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getTransactionByHash"],
                        "description": "Returns information about a transaction by hash"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Transaction hash",
                        "default": [
                          "0x5e98cafbdbb08e77c77a942314c7dd45a6f0ba4ffcc4428303bf814e1a1645a9"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getTransactionByBlockHashAndIndex"],
                        "description": "Returns information about a transaction by block hash and index"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Block hash and transaction index",
                        "default": [
                          "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae",
                          "0x0"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_getTransactionReceipt"],
                        "description": "Returns the receipt of a transaction by hash"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Transaction hash",
                        "default": [
                          "0x5e98cafbdbb08e77c77a942314c7dd45a6f0ba4ffcc4428303bf814e1a1645a9"
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_protocolVersion"],
                        "description": "Returns the current Ethereum protocol version"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "No parameters",
                        "default": []
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_sendRawTransaction"],
                        "description": "Submits a pre-signed transaction for broadcast"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Signed transaction data",
                        "default": [
                          "0xf86c808504a817c80082520894095e7baea6a6c7c4c2dfeb977efac326af552d870a8e8..."
                        ]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_accounts"],
                        "description": "Returns a list of addresses owned by the client"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "No parameters",
                        "default": []
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id", "params"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["eth_feeHistory"],
                        "description": "Returns fee data for historical blocks"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "Block count, latest block, and reward percentiles",
                        "default": ["10", "0x3039", [25.0, 50.0, 75.0]]
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": ["jsonrpc", "method", "id"],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": "2.0",
                        "description": "JSON-RPC version"
                      },
                      "method": {
                        "type": "string",
                        "enum": ["web3_clientVersion"],
                        "description": "Returns the current client version"
                      },
                      "params": {
                        "type": "array",
                        "items": {},
                        "description": "No parameters",
                        "default": []
                      },
                      "id": {
                        "type": "integer",
                        "default": 1,
                        "description": "Request identifier"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "eth_chainId": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "eth_chainId",
                    "params": []
                  }
                },
                "eth_call": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "eth_call",
                    "params": [
                      {
                        "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f"
                      },
                      "latest"
                    ]
                  }
                },
                "eth_estimateGas": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "eth_estimateGas",
                    "params": [
                      {
                        "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f",
                        "data": "0x"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "eth_chainId",
                "eth_call",
                "eth_estimateGas",
                "eth_gasPrice",
                "eth_newFilter",
                "eth_newBlockFilter",
                "eth_uninstallFilter",
                "eth_newPendingTransactionFilter",
                "eth_getLogs",
                "eth_getFilterLogs",
                "eth_getFilterChanges",
                "eth_getBalance",
                "eth_getBlockByNumber",
                "eth_getBlockByHash",
                "eth_getBlockTransactionCountByNumber",
                "eth_getBlockReceipts",
                "eth_getBlockTransactionCountByHash",
                "eth_getCode",
                "eth_getStorageAt",
                "eth_getTransactionCount",
                "eth_getTransactionByHash",
                "eth_getTransactionByBlockHashAndIndex",
                "eth_getTransactionReceipt",
                "eth_protocolVersion",
                "eth_sendRawTransaction",
                "eth_accounts",
                "eth_feeHistory",
                "web3_clientVersion"
              ]
            },
            "description": "The JSON-RPC method to call",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string",
                          "example": "2.0"
                        },
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "result": {
                          "type": "string",
                          "description": "Response for eth_chainId",
                          "example": "0x144"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string",
                          "example": "2.0"
                        },
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "result": {
                          "type": "string",
                          "description": "Response for eth_call",
                          "example": "0x"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string",
                          "example": "2.0"
                        },
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "result": {
                          "type": "string",
                          "description": "Response for eth_estimateGas",
                          "example": "0x5cec"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string",
                          "example": "2.0"
                        },
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "result": {
                          "type": "string",
                          "description": "Response for eth_gasPrice",
                          "example": "0x17d7840"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string",
                          "example": "2.0"
                        },
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "integer"
                            },
                            "message": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "eth_chainId": {
                    "value": {
                      "jsonrpc": "2.0",
                      "result": "0x144",
                      "id": 1
                    }
                  },
                  "eth_call": {
                    "value": {
                      "jsonrpc": "2.0",
                      "result": "0x",
                      "id": 1
                    }
                  },
                  "eth_estimateGas": {
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": "0x5cec"
                    }
                  },
                  "eth_gasPrice": {
                    "value": {
                      "jsonrpc": "2.0",
                      "result": "0x17d7840",
                      "id": 1
                    }
                  },
                  "error": {
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "error": {
                        "code": -32602,
                        "message": "Invalid params"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eth_chainId": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_chainId",
        "description": "Gets the current chain ID",
        "operationId": "eth_chainId",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_chainId",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Parameters (empty for this method)",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_chainId",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the chain ID in hexadecimal format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "Hexadecimal representation of the current blockchain network's chain ID",
                      "example": "0x144"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x144",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_call": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_call",
        "description": "Executes a new message call immediately without creating a transaction on the blockchain",
        "operationId": "eth_call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_call",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Call parameters",
                    "default": [
                      {
                        "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f"
                      },
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_call",
                "params": [
                  {
                    "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f"
                  },
                  "latest"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the result of the contract execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The return value of the executed contract method",
                      "example": "0x"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_estimateGas": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_estimateGas",
        "description": "Estimates the amount of gas needed to execute a call",
        "operationId": "eth_estimateGas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_estimateGas",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Parameters for gas estimation",
                    "default": [
                      {
                        "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f",
                        "data": "0x"
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_estimateGas",
                "params": [
                  {
                    "to": "0xc94770007dda54cF92009BFF0dE90c06F603a09f",
                    "data": "0x"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the estimated gas amount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The estimated amount of gas needed",
                      "example": "0x5cec"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0x5cec"
                }
              }
            }
          }
        }
      }
    },
    "/eth_gasPrice": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_gasPrice",
        "description": "Returns the current gas price in wei",
        "operationId": "eth_gasPrice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_gasPrice",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "No parameters",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_gasPrice",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the current gas price",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The current gas price in wei",
                      "example": "0x17d7840"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x17d7840",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_newFilter": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_newFilter",
        "description": "Creates a filter object to notify when the state changes",
        "operationId": "eth_newFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newFilter",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Filter options",
                    "default": [
                      {
                        "topics": [
                          "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                        ]
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_newFilter",
                "params": [
                  {
                    "topics": [
                      "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the filter ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The filter ID",
                      "example": "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_newBlockFilter": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_newBlockFilter",
        "description": "Creates a filter to notify when a new block arrives",
        "operationId": "eth_newBlockFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newBlockFilter",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "No parameters",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_newBlockFilter",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the filter ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The filter ID",
                      "example": "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_uninstallFilter": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_uninstallFilter",
        "description": "Uninstalls a filter with the given ID",
        "operationId": "eth_uninstallFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_uninstallFilter",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Filter ID",
                    "default": [
                      "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_uninstallFilter",
                "params": [
                  "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns whether the filter was uninstalled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "boolean",
                      "description": "True if the filter was uninstalled",
                      "example": true
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": true,
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_newPendingTransactionFilter": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_newPendingTransactionFilter",
        "description": "Creates a filter to notify when new pending transactions arrive",
        "operationId": "eth_newPendingTransactionFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newPendingTransactionFilter",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "No parameters",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_newPendingTransactionFilter",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the filter ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The filter ID",
                      "example": "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_getLogs": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getLogs",
        "description": "Returns logs matching the filter criteria",
        "operationId": "eth_getLogs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getLogs",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Filter options",
                    "default": [
                      {
                        "fromBlock": "0x1",
                        "toBlock": "0x2",
                        "address": "0x8320fe7702b96808f7bbc0d4a888ed1468216cfd",
                        "topics": [
                          "0xd78a0cb8bb633d06981248b816e7bd33c2a35a6089241d099fa519e361cab902"
                        ]
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getLogs",
                "params": [
                  {
                    "fromBlock": "0x1",
                    "toBlock": "0x2",
                    "address": "0x8320fe7702b96808f7bbc0d4a888ed1468216cfd",
                    "topics": [
                      "0xd78a0cb8bb633d06981248b816e7bd33c2a35a6089241d099fa519e361cab902"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the matching logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of log objects",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "example": "0x8320fe7702b96808f7bbc0d4a888ed1468216cfd"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "0xd78a0cb8bb633d06981248b816e7bd33c2a35a6089241d099fa519e361cab902"
                            ]
                          },
                          "data": {
                            "type": "string",
                            "example": "0x0000000000000000000000000000000000000000000000000000000000000001"
                          },
                          "blockNumber": {
                            "type": "string",
                            "example": "0x1"
                          },
                          "logIndex": {
                            "type": "string",
                            "example": "0x0"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    {
                      "address": "0x8320fe7702b96808f7bbc0d4a888ed1468216cfd",
                      "topics": [
                        "0xd78a0cb8bb633d06981248b816e7bd33c2a35a6089241d099fa519e361cab902"
                      ],
                      "data": "0x0000000000000000000000000000000000000000000000000000000000000001",
                      "blockNumber": "0x1",
                      "logIndex": "0x0"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/eth_getFilterLogs": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getFilterLogs",
        "description": "Returns logs for the specified filter",
        "operationId": "eth_getFilterLogs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getFilterLogs",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Filter ID",
                    "default": [
                      "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getFilterLogs",
                "params": [
                  "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the logs for the filter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of log objects",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "example": "0x8320fe7702b96808f7bbc0d4a888ed1468216cfd"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "0xd78a0cb8bb633d06981248b816e7bd33c2a35a6089241d099fa519e361cab902"
                            ]
                          },
                          "data": {
                            "type": "string",
                            "example": "0x0000000000000000000000000000000000000000000000000000000000000001"
                          },
                          "blockNumber": {
                            "type": "string",
                            "example": "0x1"
                          },
                          "logIndex": {
                            "type": "string",
                            "example": "0x0"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    {
                      "address": "0x8320fe7702b96808f7bbc0d4a888ed1468216cfd",
                      "topics": [
                        "0xd78a0cb8bb633d06981248b816e7bd33c2a35a6089241d099fa519e361cab902"
                      ],
                      "data": "0x0000000000000000000000000000000000000000000000000000000000000001",
                      "blockNumber": "0x1",
                      "logIndex": "0x0"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/eth_getFilterChanges": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getFilterChanges",
        "description": "Returns filter changes since last poll",
        "operationId": "eth_getFilterChanges",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getFilterChanges",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Filter ID",
                    "default": [
                      "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getFilterChanges",
                "params": [
                  "0xb415d4b0e6ca750802be8c84c99a68170deeb9ed09c4e2eb0dc5299ab715e978"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the filter changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of log objects or block hashes",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "0x7d41f9c59bbb29e583acd91c897f6db64b0cbf7b2102b4edf9cf7c69e901b24e",
                        "0x183082354c667d6261e05606e59745ef43b527545cd0cfa7a0ea1bb3e46cdb87"
                      ]
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    "0x7d41f9c59bbb29e583acd91c897f6db64b0cbf7b2102b4edf9cf7c69e901b24e",
                    "0x183082354c667d6261e05606e59745ef43b527545cd0cfa7a0ea1bb3e46cdb87"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/eth_getBalance": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getBalance",
        "description": "Returns the balance of the given address",
        "operationId": "eth_getBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBalance",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Address and block parameter",
                    "default": [
                      "0x8fe5810cd78eb8d8b9abad8527dfc1265bee6c56",
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getBalance",
                "params": [
                  "0x8fe5810cd78eb8d8b9abad8527dfc1265bee6c56",
                  "latest"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the account balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The current balance in wei",
                      "example": "0x4563918244f40000"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x4563918244f40000",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/web3_clientVersion": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "web3_clientVersion",
        "description": "Returns the current client version",
        "operationId": "web3_clientVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "web3_clientVersion",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "No parameters",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "web3_clientVersion",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns client version information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "Client version string",
                      "example": "Abstract/v2.0"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "Abstract/v2.0",
                  "id": 1
                }
              }
            }
          }
        }
      }
    },
    "/eth_getBlockByNumber": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getBlockByNumber",
        "description": "Returns information about a block by number",
        "operationId": "eth_getBlockByNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockByNumber",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Block number and transaction details flag",
                    "default": ["0x1b4", false]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getBlockByNumber",
                "params": ["0x1b4", false]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "description": "Block information",
                      "properties": {
                        "number": {
                          "type": "string",
                          "example": "0x1b4"
                        },
                        "hash": {
                          "type": "string",
                          "example": "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae"
                        },
                        "parentHash": {
                          "type": "string",
                          "example": "0x59f0ff194fe56f5b5fe5436df726c0f6201ce7d6364a04361c7324cceb322a67"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "number": "0x1b4",
                    "hash": "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae",
                    "parentHash": "0x59f0ff194fe56f5b5fe5436df726c0f6201ce7d6364a04361c7324cceb322a67",
                    "nonce": "0x0000000000000000",
                    "sha3Uncles": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "logsBloom": "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                    "transactionsRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "stateRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "receiptsRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "miner": "0x0000000000000000000000000000000000000000",
                    "difficulty": "0x0",
                    "totalDifficulty": "0x0",
                    "extraData": "0x",
                    "size": "0x3e8",
                    "gasLimit": "0x6691b7",
                    "gasUsed": "0x5208",
                    "timestamp": "0x5d9676a0",
                    "transactions": [],
                    "uncles": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eth_getBlockByHash": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getBlockByHash",
        "description": "Returns information about a block by hash",
        "operationId": "eth_getBlockByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockByHash",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Block hash and transaction details flag",
                    "default": [
                      "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae",
                      false
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getBlockByHash",
                "params": [
                  "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae",
                  false
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "description": "Block information",
                      "properties": {
                        "number": {
                          "type": "string",
                          "example": "0x1b4"
                        },
                        "hash": {
                          "type": "string",
                          "example": "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae"
                        },
                        "parentHash": {
                          "type": "string",
                          "example": "0x59f0ff194fe56f5b5fe5436df726c0f6201ce7d6364a04361c7324cceb322a67"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "number": "0x1b4",
                    "hash": "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae",
                    "parentHash": "0x59f0ff194fe56f5b5fe5436df726c0f6201ce7d6364a04361c7324cceb322a67",
                    "nonce": "0x0000000000000000",
                    "sha3Uncles": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "logsBloom": "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                    "transactionsRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "stateRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "receiptsRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "miner": "0x0000000000000000000000000000000000000000",
                    "difficulty": "0x0",
                    "totalDifficulty": "0x0",
                    "extraData": "0x",
                    "size": "0x3e8",
                    "gasLimit": "0x6691b7",
                    "gasUsed": "0x5208",
                    "timestamp": "0x5d9676a0",
                    "transactions": [],
                    "uncles": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eth_getBlockTransactionCountByNumber": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getBlockTransactionCountByNumber",
        "description": "Returns the number of transactions in a block by block number",
        "operationId": "eth_getBlockTransactionCountByNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockTransactionCountByNumber",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Block number",
                    "default": ["0x1b4"]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getBlockTransactionCountByNumber",
                "params": ["0x1b4"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the number of transactions in the block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The number of transactions in the block",
                      "example": "0x0"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0x0"
                }
              }
            }
          }
        }
      }
    },
    "/eth_getBlockReceipts": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getBlockReceipts",
        "description": "Returns all transaction receipts for a given block",
        "operationId": "eth_getBlockReceipts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockReceipts",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Block parameter (number or hash)",
                    "default": ["0x1b4"]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getBlockReceipts",
                "params": ["0x1b4"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns all transaction receipts for the block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of transaction receipts",
                      "items": {
                        "type": "object"
                      },
                      "example": []
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": []
                }
              }
            }
          }
        }
      }
    },
    "/eth_getBlockTransactionCountByHash": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getBlockTransactionCountByHash",
        "description": "Returns the number of transactions in a block by block hash",
        "operationId": "eth_getBlockTransactionCountByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id", "params"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockTransactionCountByHash",
                    "description": "The method to call"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Block hash",
                    "default": [
                      "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "eth_getBlockTransactionCountByHash",
                "params": [
                  "0xdc0818cf78f21a8e70579cb46a43643f78291264dda342ae31049421c82d21ae"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the number of transactions in the block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "The number of transactions in the block",
                      "example": "0x0"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0x0"
                }
              }
            }
          }
        }
      }
    },
    "/eth_getCode": {
      "post": {
        "tags": ["Ethereum API"],
        "summary": "eth_getCode",
        "description": "Returns the code stored at the given address",
        "operationId": "eth_getCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
